---
interface Props {
  typeActivity: string;
  subType: string;
  course: string;
  date: string;
  time: string;
}

const { typeActivity, subType, course, date, time }: Props = Astro.props;

---

<a href="#">
  <div class="flex flex-col justify-evenly w-90% h-auto gap-[7px] py-2.5 px-6 bg-[#f2f9ff] rounded-[3px]">
    <div class="flex flex-row gap-1 items-center text-gray-600 font-medium">
      <div class="w-4">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#000000" stroke="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title></title> <g id="Complete"> <g id="bubble-square"> <path d="M7.7,18.3H19.4a2.1,2.1,0,0,0,2.1-2.1V4.6a2.1,2.1,0,0,0-2.1-2.1H4.6A2.1,2.1,0,0,0,2.5,4.6V21.5Z" fill="none" stroke="#4a5565" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5"></path> </g> </g> </g></svg>
      </div>
      <p class="font-bold text-[16px]">{typeActivity}</p> 
    </div>
    <div class="flex flex-row flex-wrap items-center justify-between gap-2">
      <p class="text-[rgb(99,99,246)]">{subType}</p>
      <div class="flex flex-row items-center justify-center gap-1 rounded-full bg-[#fddc70] py-[2px] px-2 text-[12px] font-bold text-[#694900] text-center">
        <div class="w-4">
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title></title> <g id="Complete"> <g id="alert-circle"> <g> <line fill="none" stroke="#694900" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="12" x2="12" y1="8" y2="12"></line> <line fill="none" stroke="#694900" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="12" x2="12" y1="16" y2="16"></line> <circle cx="12" cy="12" data-name="--Circle" fill="none" id="_--Circle" r="10" stroke="#694900" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></circle> </g> </g> </g> </g></svg>
        </div>
        <p>Por entregar</p>
      </div>
    </div>
    <p class="font-bold text-[12px] text-gray-600">{course}</p>
    <p class="text-gray-600">Vence: {date} a las {time}</p>
  </div>
</a>